---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">关于我</h2>
        <div class="tag-post-list">
          <ul>
            <li>医学店铺店主，长期服务广大医学生各类考试，目前有执考、主治、护考、药考、副高、正高各类科目课程及书籍资料</li>
            <li>一名普通医师</li>
            <li>爱李志</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">联系我</h2>
        <div class="tag-post-list">
          <ul>
                   <li>
              <a href="https://weibo.com/p/1005055795054204/photos?type=photo" target="_blank"> 微博</a>
            </li>
            <li>
              <a href="https://twitter.com/weily2022" target="_blank"> 推特</a>
            </li>
            <li>
              微信1号：weily1984
            </li>
            <li>
              微信2号：weily2010
            </li>
            <li>
              微信3号：dcym365
            </li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">随想</h2>
        <div class="tag-post-list">
          <ul>
            <li>服务好关注我的每一个学员，如果我们能成为朋友那太好了</li>
            <li>梦想很简单，老婆孩子可炕头</li>
            <li>遵循以上两条，如果有可能，趁年轻希望多出去走走</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">一些作品</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              有点多，我下次整理一下。
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</BaseLayout>
